<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>编辑ad域信息</title>
</head>
<link rel="stylesheet" href="/layui/css/layui.css">
<link rel="stylesheet" href="/layui_ext/dtree/dtree.css">
<link rel="stylesheet" href="/layui_ext/dtree/font/dtreefont.css">
<script type="text/javascript" src="/layui/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/layui/layui.js"></script>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>-->
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<script type="text/javascript">
    layui.use('form', function(){
        var form = layui.form;
        form.render();
    });



    $(function () {

        $(document).ready(function () {
            $.post("/user/getAdinfo", {},    //把name数据提交到ajaxRes action内，
                function (data) {
                   var adinfo=data["ok"];
                   $("#dc").val(adinfo.dc);
                   $("#dc_ip").val(adinfo.adip);
                    $("#uname").val(adinfo.domainadminname);
                    $("#password").val(adinfo.domainadminpwd);
                }, "json");


        })


        $("#conform").click(function () {

            $.post("/user/checkAdinfo", {dc:$("#dc").val(),dc_ip:$("#dc_ip").val(),uname:$("#uname").val(),pwd:$("#password").val()},    //把name数据提交到ajaxRes action内，
                function(data) {
                    if(data["error"]!=null){
                        layer.alert(data["error"]);
                        $(window.parent.document).find("#adCheckFlag").val("0");
                    }else {
                        layer.confirm(data["ok"], {
                            btn: ['确定'] //可以无限个按钮
                        }, function(index, layero){
                            $(window.parent.document).find("#adCheckFlag").val("1");
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index);
                        });
                    }
                }, "json");
        });
        $("#cancel").click(function () {
            //关闭弹出层
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index);
        })
    });


</script>
<body>



<div class="layui-container" style="margin-top: 5%">
    <div class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">参考数据格式:</label>
            <img src="/img/adinfo.jpg" style="height: 40px;width: 315px">
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">域名:</label>
            <div class="layui-input-block">
                <input class="layui-input" id="dc" />
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">域ip:</label>
            <div class="layui-input-block">
                <input class="layui-input" id="dc_ip" />
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">管理员登录名:</label>
            <div class="layui-input-block">
                <input class="layui-input" id="uname" />
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">管理员密码:</label>
            <div class="layui-input-block">
                <input class="layui-input" type="password" id="password" />
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-row">
                <div class="layui-col-md-offset5">
                    <button class="layui-btn" id="conform">确定</button>
                    <button class="layui-btn" id="cancel">取消</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>