<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>流转申请</title>
</head>
<link rel="stylesheet" href="/layui/css/layui.css">
<link rel="stylesheet" href="/layui_ext/dtree/dtree.css">
<link rel="stylesheet" href="/layui_ext/dtree/font/dtreefont.css">
<script type="text/javascript" src="/layui/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/layui/layui.js"></script>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>-->
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<script type="text/javascript">
    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        //checkbox 点击事件
        /*   var checkboxlist=$("#tb").find("input:checkbox:checked");
   var checkedItemId='';
   var i=0;
   while (i<checkboxlist.length){
       checkedItemId+=$(checkboxlist[i]).parent().parent().find("input:hidden")[0].value+",";
       i++;
   }*/
        form.on("checkbox",function (data) {
            var checkedList=$("#tb").find("input:checkbox:checked");
            var i=0;
            while (i<checkedList.length){

                checkedList[i].checked='';
                console.log(checkedList[i]);
                i++;

            }
            data.elem.checked='checked';
            form.render('checkbox');//重新渲染
        })

    });


    function transformNullStr(str){
        if (str==null){
            return "";
        }
        return str;
    }

    $(function () {
        $("#doSearch").click(function () {
            queryPage($("#assetType").val(),$("#search").val(),"","",$("#pageInput").val(),"");
        })
        $("#next").click(function () {
            queryPage($("#assetType").val(),$("#search").val(),"","next",$("#pageInput").val(),"");
        })
        $("#jump").click(function () {
            queryPage($("#assetType").val(),$("#search").val(),"","",$("#pageInput").val(),"jump");
        })
        $("#pre").click(function () {
            queryPage($("#assetType").val(),$("#search").val(),"pre","",$("#pageInput").val(),"");
        })


        $("input[type='checkbox']").click(function () {
            $("#tb").find("input:checkbox:checked").attr("checked","false");
        })


        $("#confirm").click(function () {
            layer.confirm('确定发出申请！', {
                btn: ['确定', '取消'] //可以无限个按钮
            }, function(index, layero){

                var checkboxlist=$("#tb").find("input:checkbox:checked");
                var checkedItemId='';
                var i=0;
                while (i<checkboxlist.length){
                    checkedItemId+=$(checkboxlist[i]).parent().parent().find("input:hidden")[0].value+",";
                    i++;
                }
                if(checkedItemId==''){
                    layer.alert("请至少勾选一个设备！");
                    return;
                }
                $.post("/asm/exchange_req", {reason:$("#reason").val(),selectDevIds:checkedItemId},    //把name数据提交到ajaxRes action内，
                    function (data) {

                        layer.msg(data["ok"]);
                    }, "json");
            }, function(index){
                //关闭弹出层
                    return;
            });


        })

    })

    function queryPage(type,searchKey,pre,next,pageIndex,jumpFlag) {
        $.post("/asm/queryExchangePage", {type:type,search:searchKey,pre:pre,next:next,pageIndex:pageIndex,jumpFlag:jumpFlag},    //把name数据提交到ajaxRes action内，
            function(data) {
                var bro = data["emp"][0];
                var devs = data["devs"][0];
                var page = data["page"][0][0];
                var astList = page.content;
                $("#tb").find("tr").remove();
                for (var key in astList){
                    var browser;
                    var disable="";
                    var trStyle=""
                    if(bro[key]==null){
                        browser='';
                        disable=" disabled='true' ";
                        trStyle="style='color: #9F9F9F'";
                    }else {
                        browser=bro[key].ename;
                    }
                    for(var k in devs){
                        if( devs[k].devName==astList[key].aname&&devs[k].exchangeable=='0'){
                            disable=" disabled='true' ";
                            trStyle="style='color: #9F9F9F'";
                        }

                    }
                    var assestnum=transformNullStr(astList[key].assestnum);
                    $("#tb").append("<tr "+trStyle+" ><td><input type='hidden' value='"+astList[key].id+"' />"+astList[key].aname+"</td><td>"+astList[key].model+"</td><td>"+assestnum+"" +
                        "</td><td>"+browser+"</td><td>"+astList[key].snnum+"</td><td>"+astList[key].remarks+"</td><td><input type='checkbox' "+disable+"  lay-skin='primary'  /></td></tr>");
                }




                var form = layui.form;
                form.render();//重新渲染
                $("#pageInput").val(page.number+1);
                $("#PageCount").html(' 共 '+page.totalPages+' 页');
            }, "json");
    }

</script>
<!--model.addAttribute("operator",loginUser);-->
<!--model.addAttribute("assertTypes",assertTypes);-->
<!--model.addAttribute("asserts",asserts);-->
<body>
<div class="layui-row" style="background-color: #D0D0D0;margin-bottom: 3%;padding: 1%;border: #4E5465 1px">
    <p>资产流转</p>
</div>
<div class="layui-container">
    <div class="layui-form">

        <div class="layui-form-item">
            <label class="layui-form-label">申请人：</label>
            <div class="layui-input-inline">
                <input  class="layui-input" th:value="${oper.getEname()}" readonly="true"  />
            </div>

            <label class="layui-form-label">资产类型：</label>
            <div class="layui-input-inline">
                <select id="assetType">
                    <option  shiro:hasPermission="${tp.getPermiCode()}" th:each="tp : ${assertTypes}" th:text="${tp.getTypeName()}"></option>
                </select>
            </div>

            <label class="layui-form-label">搜索设备：</label>
            <div class="layui-input-inline">
                <input  class="layui-input" placeholder="设备名称、用户名、编码查找" id="search"  />
            </div>
            <button class="layui-btn" id="doSearch">查找</button>

            <button class="layui-btn" id="confirm">发起申请</button>

        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">申请理由:</label>
            <div class="layui-input-block">
                <input  class="layui-input" id="reason"/>
            </div>

        </div>
        <div class="layui-form-item">
            <table class="layui-table">
                <thead>
                <tr>
                    <td>名称</td>
                    <td>型号</td>
                    <td>编号</td>
                    <td>借用人</td>
                    <td>sn号</td>
                    <td>备注</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody id="tb">

                </tbody>
            </table>
        </div>
        <div class="layui-form-item">
            <div class="layui-row">
                <input type="hidden" id="selectedDepId"/>
                <div class="layui-col-md-offset2 layui-col-md2">
                    <button class="layui-btn" id="pre" style="float: right">-</button>
                </div>
                <div class="layui-col-md2 layui-input-inline" style="margin: 0">
                  <!--  <input type="text" class="layui-input" id="pageInput" th:value="${asserts==null ? 0:asserts.getNumber()+1}" />-->
                    <input type="text" class="layui-input" id="pageInput" value="0" />
                </div>
                <div class="layui-col-md1">
                    <button class="layui-btn" id="next">+</button>
                </div>
                <div class="layui-col-md2">
                    <button class="layui-btn"  id="jump">跳转</button>
                    <!--<span id="PageCount" th:text="${asserts==null?'共 0 页': ' 共 '+asserts.getTotalPages()+' 页'}"></span>-->
                    <span id="PageCount">共 0 页</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>