<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>资产管理模块说明</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script type="text/javascript" src="/layui/layui.js"></script>
    <link rel="stylesheet" href="/layui_ext/dtree/dtree.css">
    <link rel="stylesheet" href="/layui_ext/dtree/font/dtreefont.css">
    <script type="text/javascript" src="/layui/jquery-3.5.1.min.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>-->
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <script th:inline="javascript">


    </script>
</head>
<body>
<div class="layui-container">
    <div class="layui-row">
        <blockquote class="layui-elem-quote">资产管理系统简介</blockquote>
        Lay_Admin资产管理模块由：资产借用、资产归还、资产入库、资产列表、操作日志、资产类型、设备类型，7个子项构成，\n
        完成企业简单的资产和耗材管理工作。
        Lay_Admin资产管理模块由：资产借用、资产归还、资产入库、资产列表、操作日志、资产类型、设备类型，7个子项构成，\n
        完成企业简单的资产和耗材管理工作。





        <blockquote class="layui-elem-quote layui-quote-nm">资产借用</blockquote>

    </div>
</div>
</body>
</html>