<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="UTF-8">
<title>Lay_Admin</title>
<link rel="stylesheet" href="/layui/css/layui.css">
<script type="text/javascript" src="/layui/layui.js"></script>
<link rel="stylesheet" href="/layui_ext/dtree/dtree.css">
<link rel="stylesheet" href="/layui_ext/dtree/font/dtreefont.css">
	<script type="text/javascript" src="/layui/jquery-3.5.1.min.js"></script>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<style>
	.version-ul{text-align: right;padding: 0 70px;}
	.version-ul .layui-nav-child{text-align: left;}
	.finish{position: absolute;right: 0;top: 0;width: 70px; height: 60px;text-align: center;line-height: 60px;cursor: pointer;}
	*[data-vs^="vs"]{display: none;}
	
	.layui-search{width: 230px;height: 60px;line-height: 60px;margin-left: 200px;position: absolute;}
	.dtree-select{position: absolute;max-height: 500px;height: 350px;overflow: auto;width: 100%;z-index: 123;display: none;border:1px solid silver;top: 42px;}
	.layui-show{display: block!important;}
	
	*[data-vlog^="vs"]{display: none;}
</style>

</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo"><a class="logo" href="javascript: void(0);" style="color: #009688;" title="">HANGSHENG</a></div>
			<div class="finish"><a href="JavaScript:void(0)"><img th:src="${'/img/tx/'+user.getTxUri()}" class="layui-nav-img" id="tx"></span></a></div>
			<ul class="layui-nav version-ul" lay-filter="version-ul" style="margin-left: 400px;position: absolute;padding: 0;right: 70px;">
			  <li class="layui-nav-item">
			    <a href="javascript:;"><span class="version-span">操作:</span></a>
			    <dl class="layui-nav-child version-li"></dl>
			  </li>
			  <li class="layui-nav-item">
			   <!-- <a href="https://gitee.com/miniwatermelon/DTreeHelper" target="_blank">组件下载：<span class="version-download">v9.9.9（gitee持续更新）</span></a>-->
			    <!--<a href="version/dtree_v2.5.7_20200119.zip">组件下载：<span class="version-download">v2.5.7（20200119）（正式版）</span></a>-->
			    <dl class="layui-nav-child"> 
			      <!-- <dd><a href="https://gitee.com/miniwatermelon/DTreeHelper" target="_blank">v2.5.7（20200119）（正式版）</a></dd> -->
	<!--		      <dd><a href="version/dtree_v2.5.7_20200119.zip" target="_blank">v2.5.7（2020119）（正式版）</a></dd>
			      <dd><a href="version/dtree_v2.5.6_20191024.zip" target="_blank">v2.5.6（20191024）（正式版）</a></dd>
			      <dd><a href="version/dtree_v2.5.5_201910122222.zip" target="_blank">v2.5.5（20191012）（正式版）</a></dd>-->
			    </dl>
			  </li>
			</ul>
		</div>
		
		<div class="layui-side layui-bg-black">
			<div class="layui-side-scroll">
				<ul  class="layui-nav layui-nav-tree" lay-filter="operate">


					<li class="layui-nav-item layui-nav-itemed" th:each="res :${resources}" >
						<!--/*@thymesVar id="getUrl" type=""*/-->
						<a href="javascript:void(0);" shiro:hasPermission="${res.getPermission()}" th:data-id="${res.getUrl()}" th:text="${res.getDescription()}"><span class='layui-badge-dot'></span></a>
						<dl class="layui-nav-child" th:each="sub :${res.getResourcesById()}">
							<dd th:if="${sub.getType()=='菜单'}"><a href="javascript:void(0);" shiro:hasPermission="${sub.getPermission()}" th:data-id="${sub.getUrl()}" th:text="${sub.getDescription()}"><span  class='layui-badge-dot'></span></a></dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="layui-body">
			<iframe id="iframe_page" src="/common/basicDoc" name="iframePage"  frameborder="0" style="width: 100%;height: 99%;"></iframe>
		</div>
		
		<div class="layui-footer">


		</div>
		
	</div>
</body>
<script type="text/javascript">



	$(function () {
		$(document).ready(function () {
			$.post("/sys/sys_even", {},    //把name数据提交到ajaxRes action内，
					function(dt) {
						var ev=dt["exchange"];
						if(ev.indexOf(':')!=-1){
							layer.open({
								type: 2,
								title: "流转申请",
								area: ['900px', '80%'],
								content: ['/asm/exchange_resp'],
							})
						}
					}, "json");
		});
	})


	layui.extend({
		dtree: '{/}layui_ext/dtree/dtree'
	}).use(['element','layer', 'dtree', 'form'], function(){
		var element = layui.element,
			layer = layui.layer,
			form = layui.form,
			dtree = layui.dtree,
			$ = layui.$;
		
		form.render();
		
		// 存储所有跟文档版本信息相关的记录
		var version = {
			"personal_center":"个人中心",
			"change_password":"修改密码",
			"logout":"退出登录"
		};
		
		for(var key in version){
			$(".version-li").append("<dd><a href='javascript:void(0);' data-version='"+key+"'>"+version[key]+"</a></dd>");
		}
		element.render();
		
		layui.data("dtree-version", {
			key: "versionCls",
			value: version
		});
		
		// 查询当前用户是否选择了对应的版本信息
		var versionCls = layui.data("dtree-version-now").versionClsNow;
		if(!versionCls) {
			// 不存在，则默认将version中的第一个元素放入
			for(var key in version){
				versionCls = key;
				layui.data("dtree-version-now",{key: "versionClsNow", value: versionCls});
				$(".version-span").html(version[versionCls]);
				showEle();
				break;
			}
		}
		
		function showEle(){ 
			var flag = false;
			// 根据versionCls的值来选择需要显示的元素
			for(var key in version){
				if(key != versionCls) {
					if(flag){
						$("*[data-vs='"+key+"']").show();
					}
					continue;
				}
				
				$("*[data-vs='"+key+"']").show();
				flag = true;
				
			}
		}
		//下拉菜单点击动作
		element.on("nav(version-ul)", function(elem){
			var dvs = $(elem).attr("data-version");
			var $iframe = $("#iframe_page");
			if(dvs!='logout'){
				$iframe.attr("src","/user/"+dvs);
			}else {
				document.location.href="/logout";
			}
		});
		
		// 根据versionCls的值来选择需要显示的元素
		$("*[data-vlog='"+versionCls+"']").show();

		


		element.on("nav(operate)", function(elem){
			var $iframe = $("#iframe_page");
			var did = $(elem).attr("data-id");
			$iframe.attr("src",did);
		});

		
		$(".logo").click(function(){

			layer.open({
				type: 2,
				title: "系统简介",
				area: ['800px', '90%'],
				content: ['/common/msg'],
			})

		});

	});
</script>
</html>