<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="layui/css/layui.css">
<script type="text/javascript" src="layui/layui.js"></script>
<link rel="stylesheet" href="layui_ext/dtree/dtree.css">
<link rel="stylesheet" href="layui_ext/dtree/font/dtreefont.css">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<div class="layui-container">
    <form method="post" action="/">
    用户名：<input type="text" name="name" class="layui-input layui-input-inline" style="width: 20%" /><br/>
    密&nbsp;&nbsp;&nbsp;码：<input type="password" name="pwd" class="layui-input layui-input-inline"  style="width: 20%" /><br/>
    <input type="submit" class="layui-btn" value="登录" /><input type="reset" class="layui-btn"/>
    </form>
</body>
</div>
</html>