<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script type="text/javascript" src="/layui/layui.js"></script>
    <link rel="stylesheet" href="/layui_ext/dtree/dtree.css">
    <link rel="stylesheet" href="/layui_ext/dtree/font/dtreefont.css">
    <script type="text/javascript" src="/layui/jquery-3.5.1.min.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>-->
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <script type="text/javascript">
        layui.use('form', function() {
            var form = layui.form;
        });

        $(function () {
            $("#select").click(function () {
                layer.open({
                    type: 2,
                    title: "上级部门",
                    area: ['350px','800px'],
                    content: ['/layer/layer_select_upperMenu', 'no'],
                    //回调函数，用于向弹出层frame传值,获得弹出层body 的jq对象。
                    //实现弹出层间不同frame的传值
                   /* success: function(layero, index){
                        var body = layer.getChildFrame('body', index);
                        body.find('#depId').val($("#did").val());
                    }*/
                });
            })


            $("#confirm").click(function () {
                $.post("/resource/validAddInfo", {id:0,name:$("#name").val(),identify:$("#identify").val()},    //把name数据提交到ajaxRes action内，
                    function(data) {
                        var errMsg;
                        if(data["error"]!=null){
                            errMsg=data["error"];
                            layer.alert("参数校验失败："+errMsg);
                        }else if(data["ok"]!=null){
                            $.post("/resource/saveNewRes", {id:0,name:$("#name").val(),identify:$("#identify").val(),url:$("#url").val(),type:$("#type").val(),upperMenu:$("#upperMenu").val()},    //把name数据提交到ajaxRes action内，
                                function(data) {
                                if(data["info"]!=null){
                                    document.location.href="/menus/menus";
                                }
                                }, "json");
                        }


                    }, "json");
            })
        })
    </script>
</head>
<body>
<div class="layui-row" style="background-color: #D0D0D0;margin-bottom: 3%;padding: 1%;border: #4E5465 1px">
    <p>添加菜单</p>
</div>
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">上级菜单:</label>
                    <div class="layui-input-inline">
                        <input id="upperMenu" class="layui-input" readonly="readonly" />
                    </div>
                    <button class="layui-btn" id="select">选择</button>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">菜单类型:</label>
                    <div class="layui-input-block">
                        <select id="type">
                            <option>菜单</option>
                            <option>按钮</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">权限名称:</label>
                    <div class="layui-input-block">
                        <input id="name" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">请求地址:</label>
                    <div class="layui-input-block">
                        <input class="layui-input" id="url" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">权限标识:</label>
                    <div class="layui-input-block">
                        <input class="layui-input" id="identify" />
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md-offset5">
                <button id="confirm" class="layui-btn">确定</button>
                <button id="reset" class="layui-btn">取消</button>
            </div>
        </div>
    </div>
</body>
</html>